.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}



h1 {
  padding-top: 10px;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
label {
  font-weight: bold;
}
.input{
  width: 100%;
  border: 1px solid grey;
}
.error{
  color: red;
  margin: 5px;
}
.form-label-group {
  margin: 5px;
}
.link {
  text-decoration: none;
}
.addUser{
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  /*clear: both;*/
}
.forgotPassword{
  text-decoration: none;
}
.button{
  margin: 1px;
}
.button-task{
  background-color: blue;
  color: blue;
}
.height{
  height: 35px;
}
.filter{
  float: left;
  margin-left: 5px;
}
.TasksFilter{
  float: left;
  margin-left: 5px;
  clear: both;
}
.dashboard{
  float: left;
  border: 1px solid transparent;
  background-color: #f5f5f5;
  padding: 5px;
  margin: 10px;
  width: 48%;
}
.task{
  margin: 10px;
  border: 1px solid transparent;
}
.status{
  float: right;
  color: green;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.title{
  color: grey;
  font-size: 25px;
}
.card-button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card-button button:hover {
  opacity: 0.7;
}
.delete{
  float: left;
  margin-left: 5px;
  margin-top: 15px;
  clear: both;
}
.highcharts{
  float: right;
  width: 50%;
}